[Unit]
Description=turn on the backlight
After=set_time.service
#ConditionFirstBoot=yes
[Service]
ExecStart=/bin/sh -c "while [ ! -f /sys/class/backlight/lcd/brightness ] ;do sleep 1; done; echo 255 >/sys/class/backlight/lcd/brightness;echo 100 > /sys/class/leds/kbd_backlight/brightness;systemctl disable backlight.service"
[Install]
WantedBy=startup.target
