[Unit]
Description=enable/diable motmdm1
After=set_time.service
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh -c "while [ ! -c /dev/motmdm1 ] ;do sleep 1; done;echo 'AT+CFUN=1' > /dev/motmdm1;echo 'AT+SCRN=0' > /dev/motmdm1"
ExecStop=/bin/sh -c "echo 'AT+CFUN=0' > /dev/motmdm1"
[Install]
WantedBy=startup.target
