[Unit]
Description=start get sms
After=modem.service
[Service]
ExecStart=/usr/local/bin/droid4-sms-read.rb
ExecStartPre=/bin/sh -c "while [ ! -c /dev/motmdm1 ] ;do sleep 1; done"
[Install]
WantedBy=startup.target
