[Unit]
ConditionPathExists=/dev/mmcblk0p2
Before=sysinit.target

[Mount]
What=/dev/mmcblk0p2
Where=/root/user_data
Type=vfat

[Install]
WantedBy=startup.target
