[Unit]
Description=turn on/off usb_gadgets(mass storage/usb over ethernet) 
After=set_time.service
[Service]
RemainAfterExit=yes
ExecStartPre=/bin/sleep 10
ExecStart=/usr/local/bin/usb_configfs.sh start /dev/mmcblk0p3
ExecStop=/usr/local/bin/usb_configfs.sh stop
[Install]
WantedBy=startup.target
